html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font-size: 200%;
}

.main_letters_1 {
	display: inline-block;
	text-align: center;
	font-size: 400%;
	font-family: monospace;
	letter-spacing: 6em;
	width: 6%;
}
.main_letters_2 {
	display: inline-block;
	text-align: left;
	font-size: 100%;
	width: 11.5%;
}
#last_word {
	display: inline-block;
	text-align: left;
	font-size: 100%;
	width: 0%;
}


.second_title {
	text-align: center;
}