body {
	font-size: 200%;
	padding-left: 20%
	padding-right: 20%;
}

.main_letters_1 {
	display: inline-block;
	text-align: center;
	font-size: 400%;
	font-family: monospace;
	letter-spacing: 6em;
	width: 6%;
}
.main_letters_2 {
	display: inline-block;
	text-align: left;
	font-size: 100%;
	width: 14%;
}
#last_word {
	display: inline-block;
	text-align: left;
	font-size: 100%;
	width: 4%;
}


.second_title {
	text-align: center;
}