html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font-size: 200%;
	font-weight: normal;
}

.bold {
	font-weight: 1000;
	color: red;
}

.main_title {
	padding-left: 12%;
	padding-right: 12%; 
	color: rgb(50, 0, 0);
}	
.main_letters_1 {
	display: inline-block;
	text-align: center;
	font-size: 400%;
	font-family: monospace;
	letter-spacing: 6em;
	width: 6%;
}
.main_letters_2 {
	display: inline-block;
	text-align: left;
	font-size: 100%;
	width: 11.5%;
}
#last_word {
	display: inline-block;
	text-align: left;
	font-size: 100%;
	width: 0%;
}


.second_title {
	font-family: arial;
	color: rgb(0,0,0);
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

.info {
	font-family: arial;
	color: rgb(0,0,50);
	text-align: left;
	padding-left: 20%;
	padding-right: 20%;
}

.donate {
	font-size: 50%;
	font-family: arial;
	color: rgb(0,0,0);
	text-align: left;
	padding-left: 20%;
	padding-right: 20%;
}